@import "~bootstrap/scss/bootstrap";
body {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

textarea {
    height: 20vh;
    resize: none;
}
